@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test</title>
</head>
<body>
    <div>
        <h1>API Browser Sample Project</h1>
        <a href="APIBrowser.axd">Click Here</a> to view APIBrowser.
    </div>
</body>
</html>
